################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/lazy-loading-sample/.vscode
/lazy-loading-sample/package-lock.json
